
.eventbox {
	background-color: #FFF;
	border-radius: 5px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.eventbox .people,
.eventbox .numpieces,
.eventbox .date {
	font-size: 10pt
}

.eventbox .numpieces div {
	text-align: center;
}
.eventbox .numpieces span {
	font-size: 24pt;
}

.eventdetail .v-customcomponent-comment {
	padding: 10px;
	background-color: white;
	border-radius: 5px;
}

.eventdetail .comment .author {
	font-size: 10pt;
	padding-bottom: 5px;
}

.eventdetail .comment .v-image {
	padding: 5px;
	padding-top: 0;
	max-width: 100%;
}

.eventdetail .eventcaption {
	text-align: right;
	line-height: 22px;
}
.eventdetail .eventcaption span {
	text-align: left;
	float: left;
	font-weight: bold;
	font-size: 16pt;
}

.eventdetail .simplemap .leaflet-control-container {
	display: none;
}

.eventdetail .eventcreator,
.eventdetail .eventmembers {
	font-size: 10pt;
}

.events .noevents {
	line-height: 50px;
	text-align: center;
}


.eventdetail .thrash .v-button-wrap {
	text-overflow: clip;
	line-height: 10pt;
	padding-top: 5px;
}

.eventdetail .thrash .v-button-caption {
	line-height: 1.5;
	font-size: 10pt;
	font-weight: normal;
}
.eventdetail .thrash .v-button-caption span {
	font-size: 24pt;
}

.publicevent .eventmembers {
	padding-bottom: 30px;
}