.groups .user-group .v-label {
	display: block;
}

.groups .user-group .user-group-name {
	font-size: 15pt;
	font-weight: bold;
}

.groups .user-group .user-group-logo {
	position: absolute;
	right: 15px;
}

.groups .user-group .user-group-event-invitations {
	display: block;
	position: absolute;
	bottom: 15px;
}

.groups .user-group {
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	position:relative;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.groups .groupview-details-invitations .invitations-prefix,.groups .groupview-details-invitations .invitations-link,.groups .groupview-details-invitations .invitations-link .v-button-wrap
	{
	display: inline;
}


.groups .group-details-info img,
.groups .group-details-info .v-button-link {
	display: block;
}

.groups .group-details-name {
	font-size: 16pt;
	font-weight: bold;
}

.groupinvitations .caption,.groupmembers .caption {
	font-weight: bold;
	font-size: 14pt;
	padding-bottom: 10px;
}

.groupmembers .user span {
	font-weight: bold;
}

.invite .v-caption {
    font-weight:bold;
    padding-top:5px;
}