.groups .member-title,.groups .admin-title {
	color: #00a3e8;
}

.groups .user-group .v-label {
	display: block;
}

.groups .user-group .user-group-name {
	font-size: 15pt;
	font-weight: bold;
}

.groups .user-group .user-group-logo {
	position: absolute;
	right: 15px;
}

.groups .user-group .user-group-event-invitations {
	display: block;
	position: absolute;
	bottom: 15px;
}

.groups .user-group {
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid gray;
	position:relative;
}

.groups .groupview-details-invitations .invitations-prefix,.groups .groupview-details-invitations .invitations-link,.groups .groupview-details-invitations .invitations-link .v-button-wrap
	{
	display: inline;
}


.groups .user-group-logo {
	max-height: 150px;
	max-width: 150px;
}


.groups .group-details-info img,
.groups .group-details-info .v-button-link {
	display: block;
}

.groups .group-details-name {
	font-size: 16pt;
	font-weight: bold;
}

.groupinvitations .caption,.groupmembers .caption {
	font-weight: bold;
	font-size: 14pt;
	padding-bottom: 10px;
}

.groupmembers .user span {
	font-weight: bold;
}