/* No need to import anything; touchkit imports it's theme with GWT */

.v-caption {
	color: #00a3e8;
}


.login .desc span {
	display: block;
	font-size: 24pt;
}

.login .logo {
	
}

.maplayout .actionbuttons {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.eventbox {
	background-color: #FFF;
	border-radius: 5px;
	border: 1px solid gray;
}

.eventbox .people,
.eventbox .numpieces,
.eventbox .date {
	font-size: 10pt
}

.eventbox .numpieces div {
	margin-left: auto;
	margin-right: auto;
	width: 60px;
}
.eventbox .numpieces span {
	font-size: 24pt;
}

.user-group-logo, .user-group-event-invitations {
	float:right;
}

.user-group .v-label {
	display: block;
}

.v-csslayout.user-group {
	position: relative;
	overflow:hidden;
	padding: 10px;
	margin:10px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid gray;
}

.user-group-members-count.align-bottom {
	position: absolute;
	bottom: 0;
}

.admin-title {
	margin-top: 10px;
	margin-left: 10px;
}

.member-title {
	margin-left: 10px;
}

.v-button.search-button, .v-button.create-button {
	margin: 10px;
}

.groupview-details-invitations .invitations-prefix, .groupview-details-invitations .invitations-link,
.groupview-details-invitations .invitations-link .v-button-wrap {
	display: inline;
}

.v-customcomponent-comment {
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid gray;
}

.comment .author {
	font-size: 10pt;
	padding-bottom: 5px;
}

.comment .v-image {
	padding: 5px;
	padding-top: 0;
}

