/* No need to import anything; touchkit imports it's theme with GWT */

.v-caption {
	color: #00a3e8;
}


.login .desc span {
	display: block;
	font-size: 24pt;
}

.login .logo {
	
}

.maplayout .actionbuttons {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.eventbox {
	background-color: #FFF;
	border-radius: 5px;
	border: 1px solid gray;
}

.eventbox .people,
.eventbox .numpieces,
.eventbox .date {
	font-size: 10pt
}

.eventbox .numpieces div {
	margin-left: auto;
	margin-right: auto;
	width: 60px;
}
.eventbox .numpieces span {
	font-size: 24pt;
}