/* No need to import anything from Vaadin; touchkit imports it's theme with GWT */


@IMPORT url("events.css");
@IMPORT url("locations.css");
@IMPORT url("groups.css");
@IMPORT url("login.css");

.v-caption {
	color: #00a3e8;
}

.v-touchkit-toolbar {
	height: 60px;
}

.login .desc span,
.publicevent .desc span {
	display: block;
	font-size: 24pt;
}



.actionbuttons .v-button-caption {
	display: block;
	font-size: 10pt;
	line-height: 1.5;
}
.actionbuttons .v-button .v-button-wrap:before {
	line-height: 35px;
}

.stepper .v-label {
	font-size: 18pt;
	text-align: center;
}

.thrashinput .typename {
	font-size: 16pt;
}

.v-window-modalitycurtain.relative{
opacity: 0.7 !important;
}

img.logobig {
	max-height: 150px;
	max-width: 150px;
}

img.logosmall {
	max-height: 100px;
	max-width: 100px;
}

